.hidden {
    display: none;
}

.blue {
    background-color: lightblue;
}
.red {
    background-color: lightcoral;
}
.green {
    background-color: lightgreen;
}
.pink {
    background-color: lightpink;
}


.active {
    background-color: #FFF;  /* the tab get the white color*/
}

 #tabs-contents article {
    display: none;
 }

 #tabs-contents article.active {
    display: inherit;
 }